section.brochures #container {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    .brochures__brochures {
        width: 400px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 20px rgb(216, 225, 232);
        border: 1px solid $border;
        border-radius: 3px;
        img {
            width: 100%;
            border-radius: 3px;
        }
    }
}