$background: #F7F8FD;
$background-light: #ffffff;
$background-input: #F6FAFB;
$border: #DDDCDA;
$text-light: hsl(232, 13%, 77%);
$text: #292B35;
$text-white: #D5DCFC;
$text-darken: #848484;
$text-purple: #8451F0;
$box-shadow: 0 2px 20px rgb(216, 225, 232, 1);