@import '../fonts';
@import '../reset';
@import 'variables';
@import 'base';

main {
    display: flex;
    
    @import 'partials/navbarLeft';
    @import 'partials/topBar';
    
    .main-content {
        width: calc(100% - 200px);
        display: flex;
        flex-direction: column;
        align-items: center;
        .container__main {
            width: 1000px;
            .main__top {
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                margin-top: 50px;
                gap: 30px;
                &:first-child {
                    margin-top: 0;
                }
                h2 {
                    font-size: 20px;
                    font-weight: 700;
                    color: $text;
                }
            }
            @import 'layouts/text_frame';
            @import 'layouts/form';
        }
        p.products__description {
            border: 1px solid $copperBrown;
            color: $copperBrown;
            padding: 15px;
            font-size: 16px;
            line-height: 30px;
            border-radius: 5px;
            max-width: 1000px;
        }
        .links a {
            text-decoration: none;
            background-color: $background-darken;
            padding: 8px;
            margin-left: 20px;
            color: #fff;
            border-radius: 5px;
            transition-duration: 0.5s;
            font-weight: 700;
            font-weight: 600;
            border: 1px solid transparent;
            &:first-child {
                margin-left: 0;
            }
            &:hover {
                background-color: transparent;
                border: 1px solid $copperBrown;
                color: $text;
            }
            &.active {
                background-color: $copperBrown;
            }
        }
    }
}