section.coloration #container{
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 0 2px 20px rgb(216, 225, 232);
    border: 1px solid $border;
    padding: 20px;
    .links__coloration {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        a {
            display: flex;
            justify-content: space-between;
            background-color: lighten($lightDark, 10%);
            align-items: center;
            border-radius: 10px;
            width: 40%;
            padding: 20px 20px;
            text-decoration: none;
            margin-bottom: 40px;
            color: #fff;
            transition-duration: .5s;
            .left {
                display: flex;
                flex-direction: column;
                span {
                    font-weight: 800;
                    font-size: 24px;
                    margin-bottom: 5px;
                }
            }
            i {
                font-size: 25px;
            }
            &:hover {
                background-color: lighten($lightDark, 20%);
            }
        }
    }
}