.form__main {
    padding: 30px 20px;
    border-radius: 3px;
    width: 100%;
    background-color: $background;
    border: 1px solid $border;
    box-shadow: $box-shadow;
    position: relative;
    .tox-tinymce {
        border: 1px solid $border;
        width: 100%!important;
        border-radius: 3px;
    }
    .tox .tox-edit-area__iframe {
        background-color: $background-input;
    }
    .tox .tox-menubar+.tox-toolbar, .tox .tox-menubar+.tox-toolbar-overlord {
        border-top: 1px solid $border;
    }
    .tox:not(.tox-tinymce-inline) .tox-editor-header {
        background-color: $background-input;
    }
    .tox .tox-menubar , .tox-toolbar__primary, .tox-statusbar, .tox-editor-container, .tox-toolbar-overlord {
        background-color: $background-input;
    }
    .tox-promotion {
        display: none;
    }
    .title__form {
        color: $text;
        font-weight: 700;
        margin-bottom: 15px;
    }
    span.sep {
        background-color: $border;
        width: 100%;
        height: 1px;
        display: block;
        margin-bottom: 15px;
    }
}