.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
    h3 {
        font-weight: 800;
        font-size: 16px;
        color: $copperBrown;
        margin-bottom: 10px;
    }
    article {
        padding: 10px;
        width: 49%;
        background-color: $background;
        border: 1px solid $border;
        box-shadow: $box-shadow;
        position: relative;
        
        p {
            line-height: 20px;
        }
        .update-article {
            text-decoration: none;
            background-color: $copperBrown;
            padding: 12px;
            float: right;
            margin-left: 20px;
            color: #fff;
            border-radius: 5px;
            transition-duration: 0.5s;
            font-weight: 700;
            font-weight: 600;
            border: 1px solid transparent;
            &:first-child {
                margin-left: 0;
            }
            &:hover {
                background-color: transparent;
                border: 1px solid $copperBrown;
                color: $text;
            }
        }
        
        
        .actions {
            opacity: 0;
            transition: opacity 0.5s ease;
            .delete, .update {
                position: absolute;
                width: 24px;
                height: 24px;
                right: -11px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                top: -11px;
                padding: 5px;
                border-radius: 50%;
                background-color: #f25353;
                cursor: pointer;
                opacity: 1;
                i {
                    font-size: 14px;
                    color: #fff;
                }
            }
            .update {
                background-color: #56f253;
                top: calc(100% - 12px);
                right: -11px;
                i {
                    font-size: 11px;
                    color: #fff;
                }
            }
        }
        &:hover .actions {
            opacity: 1;
        }
    }
    .pictures {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        flex-wrap: wrap;
        article {
            width: 300px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    article.frame {
        width: 100%;
        padding: 10px;
    }
}